	
	<div class="middle" ng-cloak>
		
		<h1 style="text-align:center;margin-bottom:20px">{{page}}</h1>
		<!--
		<h3>Dashboard with CSS3 Tabs</h3>
		
		<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		<script>
		function openCity(cityName) {
			var i;
			var x = document.getElementsByClassName("city");
			for (i = 0; i < x.length; i++) {
			   x[i].style.display = "none";
			}
			document.getElementById(cityName).style.display = "block";
		}
		</script>
		<div>

			<ul class="w3-navbar w3-black" style="background:white;">
			  <li><a href="" onclick="openCity('userInfo')">User Info</a></li>
			  <li><a href="" onclick="openCity('playerStatus')">Player Status</a></li>
			  <li><a href="" onclick="openCity('etc')">Etc...</a></li>
			</ul>
			
			<div id="userInfo" class="w3-container city" style="background:white;">
				<br>
				Name: <input type="text" name="Name" type="text" ng-model="user.name"> Email: <input type="text" ng-model="user.email"> Phone: <input ng-model="user.phone"> Chips: <input disabled ng-model="user.chips"><br><br>
				<button class="btn">Edit</button> 
				<button class="btn btn-primary">Save</button>
				<button class="btn btn-info">Buy Chips</button>
				<br><br>
			</div>

			<div id="playerStatus" class="w3-container city" style="background:white;">
			  <h2>Player Status</h2>
			  <p>player status object section</p>
			</div>

			<div id="etc" class="w3-container city" style="background:white;">
			  <h2>Etc...</h2>
			  <p>etcetera</p>
			</div>
			
			<form ng-submit="play2()" style="margin-top:10px;right:0;">
				<button class="btn btn-danger" type="submit">Play</button>
			</form>
		</div> 
		-->
		<!-- <hr style="border-color:black;height:10px;background-color:black;"> -->
		
		<h3>Dashboard with Angular Material Tabs (light theme)</h3>
		<div> 
			
			<style>
				@font-face {
				  font-family:"icomoon";
				  src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
				  font-weight:normal;
				  font-style:normal;
				}

				@font-face {
				  font-family: 'icomoon';
				  src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?-cmq1um');
				  src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
				  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.woff?-cmq1um') format('woff'),
				  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.ttf?-cmq1um') format('truetype'),
				  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
				  font-weight: normal;
				  font-style: normal;
				}
			</style>

			<div ng-cloak class="tabsdemoDynamicHeight">

				<md-content md-theme="">
					<md-tabs md-dynamic-height md-border-bottom>
						<md-tab label="User Info">
							<md-content class="md-padding">
								<md-content class="md-no-momentum" layout-padding>
									<div layout="row" layout-padding ng-cloak>
										<md-input-container>
											<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
											<input type="text" ng-model="user.name" placeholder="Name">
										</md-input-container>

										<md-input-container>
											<md-icon md-svg-src="img/icons/ic_email_24px.svg"></md-icon>
											<input ng-model="user.email" type="email" placeholder="Email">
										</md-input-container>
										
										<md-input-container>
											<md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
											<input ng-model="user.phone" type="text" placeholder="Phone">
										</md-input-container>
										
										<md-input-container class="md-block">
											<!-- <md-icon md-svg-src="img/icons/ic_extension_24px.svg"></md-icon> -->
											<label>Chips</label>
											<input ng-model="user.chips" disabled placeholder="Chips">
										</md-input-container>
<!-- 
										<md-input-container>
											<label>Enter Birth Date:</label>
											<md-datepicker ng-model="user.birthday"></md-datepicker>
											<md-icon md-svg-icon="social:cake" style="color:#00F;" aria-label="Cake"></md-icon>
										</md-input-container>
 -->
									</div>
									<div>
										<md-button class="md-raised">Edit</md-button>
										<md-button class="md-raised md-primary">Save</md-button>
										<!-- <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button> -->
										<md-button class="md-raised md-warn">Buy Chips</md-button>
									</div>
								</md-content>							
							</md-content>
						</md-tab>
						<md-tab label="Player Status">
							<md-content class="md-padding">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
								<p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
								<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
							</md-content>
						</md-tab>
						<md-tab label="Points Status">
							<md-content class="md-padding">
								<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
							</md-content>
						</md-tab>
						<md-tab label="Game History">
							<md-content class="md-padding">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
							</md-content>
						</md-tab>
						<md-tab label="Points History">
							<md-content class="md-padding">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
								<p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
								<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
							</md-content>
						</md-tab>
						<md-tab label="KYC">
							<md-content class="md-padding">
								<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
							</md-content>
						</md-tab>
						<md-tab label="Settings">
							<md-content class="md-padding">
								<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
							</md-content>
						</md-tab>
					</md-tabs>
				</md-content>		
				
				<!-- <md-content md-theme="" flex layout-padding>
				</md-content> 
			 -->
				<!-- <md-content md-theme="docs-dark" layout="row" layout-align="end">
					<form ng-submit="play2()">
						<md-button class="md-raised" type="submit">Play for Fun</md-button>
						<md-button class="md-raised" type="submit">Play for Real</md-button>
					</form>
				</md-content> 
				 -->
				<md-content md-theme="">
				<form layout="row" layout-align="end end" ng-submit="play2()">
					<md-button class="md-raised" type="submit">Play for Fun</md-button>
					<md-button class="md-raised" type="submit">Play for Real</md-button>
				</form>
				</md-content> 
			
			</div>			
		
		</div> 
		
		<hr style="border-color:black;height:2px;background-color:lightgray;">
		
		<h3>Dashboard with Angular Material Tabs (dark theme)</h3>
		<div> 
			
			<style>
				@font-face {
				  font-family:"icomoon";
				  src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
				  font-weight:normal;
				  font-style:normal;
				}

				@font-face {
				  font-family: 'icomoon';
				  src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?-cmq1um');
				  src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
				  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.woff?-cmq1um') format('woff'),
				  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.ttf?-cmq1um') format('truetype'),
				  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
				  font-weight: normal;
				  font-style: normal;
				}
			</style>

			<div ng-cloak class="tabsdemoDynamicHeight">

				<md-content md-theme="docs-dark">
					<md-tabs md-dynamic-height md-border-bottom>
						<md-tab label="User Info">
							<md-content class="md-padding">
								<md-content class="md-no-momentum" layout-padding>
									<div layout="row" layout-padding ng-cloak>
										<md-input-container>
											<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
											<input type="text" ng-model="user.name" placeholder="Name">
										</md-input-container>

										<md-input-container>
											<md-icon md-svg-src="img/icons/ic_email_24px.svg"></md-icon>
											<input ng-model="user.email" type="email" placeholder="Email">
										</md-input-container>
										
										<md-input-container>
											<md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
											<input ng-model="user.phone" type="text" placeholder="Phone">
										</md-input-container>
										
										<md-input-container class="md-block">
											<!-- <md-icon md-svg-src="img/icons/ic_extension_24px.svg"></md-icon> -->
											<label>Chips</label>
											<input ng-model="user.chips" disabled placeholder="Chips">
										</md-input-container>
<!-- 
										<md-input-container>
											<label>Enter Birth Date:</label>
											<md-datepicker ng-model="user.birthday"></md-datepicker>
											<md-icon md-svg-icon="social:cake" style="color:#00F;" aria-label="Cake"></md-icon>
										</md-input-container>
 -->
									</div>
									<div>
										<md-button class="md-raised">Edit</md-button>
										<md-button class="md-raised md-primary">Save</md-button>
										<!-- <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button> -->
										<md-button class="md-raised md-warn">Buy Chips</md-button>
									</div>
								</md-content>							
							</md-content>
						</md-tab>
						<md-tab label="Player Status">
							<md-content class="md-padding">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
								<p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
								<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
							</md-content>
						</md-tab>
						<md-tab label="Points Status">
							<md-content class="md-padding">
								<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
							</md-content>
						</md-tab>
						<md-tab label="Game History">
							<md-content class="md-padding">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
							</md-content>
						</md-tab>
						<md-tab label="Points History">
							<md-content class="md-padding">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
								<p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
								<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
							</md-content>
						</md-tab>
						<md-tab label="KYC">
							<md-content class="md-padding">
								<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
							</md-content>
						</md-tab>
						<md-tab label="Settings">
							<md-content class="md-padding">
								<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
							</md-content>
						</md-tab>
					</md-tabs>
				</md-content>		
				
				<md-content md-theme="docs-dark" flex layout-padding>
				</md-content> 
			
				<!-- <md-content md-theme="docs-dark" layout="row" layout-align="end">
					<form ng-submit="play2()">
						<md-button class="md-raised" type="submit">Play for Fun</md-button>
						<md-button class="md-raised" type="submit">Play for Real</md-button>
					</form>
				</md-content> 
				 -->
				<md-content md-theme="docs-dark">
				<form layout="row" layout-align="end end" ng-submit="play2()">
					<md-button class="md-raised" type="submit">Play for Fun</md-button>
					<md-button class="md-raised" type="submit">Play for Real</md-button>
				</form>
				</md-content> 
			
			</div>			
		
		</div> 
		
		<hr style="border-color:black;height:2px;background-color:lightgray;">
		
		<h3>Dashboard with Angular Material Grid List</h3>
		<div> 
		
			<style type="text/css">
				.gridListdemoBasicUsage md-grid-list {
				  margin: 8px;
				}

				.gridListdemoBasicUsage .gray {
				  background: #f5f5f5; }
				
				.gridListdemoBasicUsage .gray h3 {
				  background: transparent; font-size:1.5em; }

				.gridListdemoBasicUsage .green {
				  background: #b9f6ca;  color:black;}
				  
				.gridListdemoBasicUsage .green h3 {
				  background: transparent; font-size:1.5em; }

				.gridListdemoBasicUsage .yellow {
				  background: #ffff8d;  color:black;}
				  
				.gridListdemoBasicUsage .yellow h3 {
				  background: transparent; font-size:1.5em; }

				.gridListdemoBasicUsage .blue {
				  background: #64dddd;  color:black; }
				  
				.gridListdemoBasicUsage .blue h3 {
				  background: transparent; font-size:1.5em; }

				.gridListdemoBasicUsage .purple {
				  background: #b388ff; }

				.gridListdemoBasicUsage .red {
				  background: #ff8a80; color:black; }
				  
				.gridListdemoBasicUsage .red h3 {
				  background: transparent; font-size:1.5em; }
				  
				.gridListdemoBasicUsage .black {
				  background: #000000; color:white; }
				  
				.gridListdemoBasicUsage .black h3 {
				  background: transparent; font-size:1.5em; }

				.gridListdemoBasicUsage md-grid-tile {
				  transition: all 400ms ease-out 50ms; }
			</style>
			
			<div ng-cloak="" class="gridListdemoBasicUsage" ng-app="MyApp">
			
				<md-content md-theme="docs-dark">
				
					<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="5" md-cols-gt-md="5" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">

					<!-- <md-grid-tile class="red" md-rowspan="1" md-colspan="5" md-colspan-sm="5" md-colspan-xs="5" md-row-height="fit" style="height: 100px;">
						<h3>{{page}}</h3>
					</md-grid-tile> -->
				  
					<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
					  <md-grid-tile-header>
						<h3>User Info</h3>
					  </md-grid-tile-header>
					  <md-grid-tile-footer>
						<h4>Last Update: {{date}}</h4>
					  </md-grid-tile-footer>
					</md-grid-tile>

					<md-grid-tile class="blue" md-rowspan="1" md-colspan="2" md-colspan-sm="2" md-colspan-xs="2">
					  <md-grid-tile-header>
						<h3>Player Status</h3>
					  </md-grid-tile-header>
					  <md-grid-tile-footer>
						<h4>Last Update: {{date}}</h4>
					  </md-grid-tile-footer>
					</md-grid-tile>
					
					<md-grid-tile class="yellow" md-rowspan="1" md-colspan="2" md-colspan-sm="2" md-colspan-xs="2">
					  <md-grid-tile-header>
						<h3>Points Status</h3>
					  </md-grid-tile-header>
					  <md-grid-tile-footer>
						<h4>Last Update: {{date}}</h4>
					  </md-grid-tile-footer>
					</md-grid-tile>

					<md-grid-tile class="yellow">
						<md-grid-tile-header>
							<h3>Game History</h3>
						</md-grid-tile-header>
						<md-grid-tile-footer>
							<h4>Last Update: {{date}}</h4>
						</md-grid-tile-footer>
					</md-grid-tile>

					<md-grid-tile class="blue" md-rowspan="1">
						<md-grid-tile-header>
							<h3>Points History</h3>
						</md-grid-tile-header>
						<md-grid-tile-footer>
							<h4>Last Update: {{date}}</h4>
						</md-grid-tile-footer>
					</md-grid-tile>

					<md-grid-tile class="red" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
						<md-grid-tile-header>
							<h3>KYC</h3>
						</md-grid-tile-header>
						<md-grid-tile-footer>
							<h4>Last Update: {{date}}</h4>
						</md-grid-tile-footer>
					</md-grid-tile>

					<md-grid-tile class="green" md-rowspan="1">
						<md-grid-tile-header>
							<h3>Settings</h3>
						</md-grid-tile-header>
						<md-grid-tile-footer>
							<h4>Last Update: {{date}}</h4>
						</md-grid-tile-footer>
					</md-grid-tile>
					
					<md-grid-tile class="green" md-rowspan="1">
						<form layout="column" style="width:100%;height:100%;padding:4px;padding-right:6px;padding-left:6px;" layout-align="center center" ng-submit="play2()">
						<md-button class="md-raised md-primary" type="submit" style="width:100%;height:50%;margin-bottom:2px;">Play for Fun</md-button>
						<md-button class="md-raised md-warn" type="submit" style="width:100%;height:50%;margin-top:2px;">Play for Real</md-button>
						</form>
					</md-grid-tile>
					
					</md-grid-list>
					
					<form layout="row" layout-align="center center" style="width:100%;height:100%;padding:0px;margin:0px;" ng-submit="play2()">
						<md-button class="md-raised md-primary" type="submit" style="width:50%;height:100%;margin-right:2px;">Play for Fun</md-button>
						<md-button class="md-raised md-warn" type="submit" style="width:50%;height:100%;margin-left:2px;">Play for Real</md-button>
					</form>
				  
				</md-content>
			  
			</div>
			
		</div>
	
		<hr style="border-color:black;height:2px;background-color:lightgray;">
		
		<h3>Game/Strategy Selection with Angular Material Grid List (dark theme)</h3>
		<div> 
		
			<div ng-cloak class="gridListdemoBasicUsage" ng-app="MyApp">
			
				<md-content md-theme="docs-dark">
				
					<!-- <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="5" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px"> -->
					<md-grid-list md-cols="5" md-row-height="75px" md-gutter="12px" md-gutter-gt-sm="8px">
				  
						<!-- Corner -->
						<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<h3>LUDO</h3>
						</md-grid-tile>
						
						<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(5)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 1</md-button>
							</form>
						</md-grid-tile>
						<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(5)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 2</md-button>
							</form>
						</md-grid-tile>
						<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(5)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 2</md-button>
							</form>
						</md-grid-tile>
						<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(5)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 2</md-button>
							</form>
						</md-grid-tile>
						
						<!-- Mini LUDO -->
						<md-grid-tile class="red" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(5)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-warn" type="submit" style="width:100%;height:100%;margin:0px;">Mini Ludo 5RS</md-button>
							</form>
						</md-grid-tile>
						
						<!-- Tables -->
						<md-grid-tile class="blue" md-rowspan="7" md-colspan="4" md-colspan-sm="1" md-colspan-xs="1">
							<!-- <md-content style="width:100%;height:100%;"> -->
								
								<md-grid-tile-header>
									<h3>Running Tables</h3>
								</md-grid-tile-header>
								
								<md-content style="width:100%;height:85%;">
								<div style="y-overflow:auto">
								<table class="table" style="text-align:center;">
									<thead>
										<th>Table</th>
										<th>Amount</th>
										<th>Players</th>
										<th>Actor</th>
										<th>Spectator</th>
									</thead>
									<tbody>
										<tr ng-repeat="t in tables">
											<td>{{t.no}}</td>
											<td>{{t.amount}}</td>
											<td>{{t.players}}</td>
											<!-- <td><button class="btn btn-danger">join</button></td> -->
											<td><md-button class="md-raised md-warn" style="margin-left:0px;" type="submit">join</md-button></td>
											<!-- <td>{{t.action}}</td> -->
											<td><md-button class="md-raised md-primary" style="margin-left:0px;" type="submit">view</md-button></td>
										</tr>
									</tbody>
								</table>
								</div>
								</md-content>
							<!-- </md-content> -->
						</md-grid-tile>
						
						<!-- Mini LUDO -->
						<md-grid-tile class="red" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(10)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-warn" type="submit" style="width:100%;height:100%;margin:0px;">Mini Ludo 10RS</md-button>
							</form>
						</md-grid-tile>
						
						<!-- Full Game -->
						<md-grid-tile class="blue" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(20)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-primary" type="submit" style="width:100%;height:100%;margin:0px;">Full Game 20RS</md-button>
							</form>
						</md-grid-tile>
						<md-grid-tile class="blue" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(100)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-primary" type="submit" style="width:100%;height:100%;margin:0px;">Full Game 100RS</md-button>
							</form>
						</md-grid-tile>
						
						<!-- Home Run -->
						<md-grid-tile class="green" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(500)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised green" type="submit" style="width:100%;height:100%;margin:0px;">Home Run 500RS</md-button>
							</form>
						</md-grid-tile>
						<md-grid-tile class="green" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(1000)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised green" type="submit" style="width:100%;height:100%;margin:0px;">Home Run 1000RS</md-button>
							</form>
						</md-grid-tile>

						// Private Tables
						<md-grid-tile class="yellow" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(10000)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Private</md-button>
							</form>
						</md-grid-tile>
					
					</md-grid-list>
					
					<!-- <form layout="row" layout-align="center center" ng-submit="play2()" style="width:100%;height:100%;padding:0px;margin:0px;">
						<md-button class="md-raised md-primary" type="submit" style="width:50%;height:100%;margin-right:2px;">Play for Fun</md-button>
						<md-button class="md-raised md-warn" type="submit" style="width:50%;height:100%;margin-left:2px;">Play for Real</md-button>
					</form> -->
				  
				</md-content>
			  
			</div>
			
		</div>
		
		<hr style="border-color:black;height:2px;background-color:lightgray;">
		
		<h3>Game/Strategy Selection with Angular Material Grid List (light theme)</h3>

		<div> 
		
			<div ng-cloak class="gridListdemoBasicUsage" ng-app="MyApp">
			
				<md-content md-theme="">
				
					<!-- <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="5" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px"> -->
					<md-grid-list md-cols="5" md-row-height="75px" md-gutter="12px" md-gutter-gt-sm="8px">
				  
						<!-- Corner -->
						<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<h3>LUDO</h3>
						</md-grid-tile>
						
						<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 1</md-button>
							</form>
						</md-grid-tile>
						<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 2</md-button>
							</form>
						</md-grid-tile>
						<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 2</md-button>
							</form>
						</md-grid-tile>
						<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 2</md-button>
							</form>
						</md-grid-tile>
						
						<!-- Mini LUDO -->
						<md-grid-tile class="red" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(5)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-warn" type="submit" style="width:100%;height:100%;margin:0px;">Mini Ludo 5RS</md-button>
							</form>
						</md-grid-tile>
						
						<!-- Tables -->
						<md-grid-tile class="blue" md-rowspan="7" md-colspan="4" md-colspan-sm="1" md-colspan-xs="1">
							<!-- <md-content style="width:100%;height:100%;"> -->
								
								<md-grid-tile-header>
									<h3>Running Tables</h3>
								</md-grid-tile-header>
								
								<md-content style="width:100%;height:85%;">
								<div style="y-overflow:auto">
								<table class="table">
									<thead>
										<th>Table</th>
										<th>Amount</th>
										<th>Players</th>
										<th>Actor</th>
										<th>Spectator</th>
									</thead>
									<tbody>
										<tr ng-repeat="t in tables">
											<td>{{t.no}}</td>
											<td>{{t.amount}}</td>
											<td>{{t.players}}</td>
											<!-- <td><button class="btn btn-danger">join</button></td> -->
											<td><md-button class="md-raised md-warn" style="margin-left:0px;" type="submit">join</md-button></td>
											<!-- <td>{{t.action}}</td> -->
											<td><md-button class="md-raised md-primary" style="margin-left:0px;" type="submit">view</md-button></td>
										</tr>
									</tbody>
								</table>
								</div>
								</md-content>
							<!-- </md-content> -->
						</md-grid-tile>
						
						<!-- Mini LUDO -->
						<md-grid-tile class="red" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(10)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-warn" type="submit" style="width:100%;height:100%;margin:0px;">Mini Ludo 10RS</md-button>
							</form>
						</md-grid-tile>
						
						<!-- Full Game -->
						<md-grid-tile class="blue" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(20)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-primary" type="submit" style="width:100%;height:100%;margin:0px;">Full Game 20RS</md-button>
							</form>
						</md-grid-tile>
						<md-grid-tile class="blue" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(100)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-primary" type="submit" style="width:100%;height:100%;margin:0px;">Full Game 100RS</md-button>
							</form>
						</md-grid-tile>
						
						<!-- Home Run -->
						<md-grid-tile class="green" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(500)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised green" type="submit" style="width:100%;height:100%;margin:0px;">Home Run 500RS</md-button>
							</form>
						</md-grid-tile>
						<md-grid-tile class="green" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(1000)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised green" type="submit" style="width:100%;height:100%;margin:0px;">Home Run 1000RS</md-button>
							</form>
						</md-grid-tile>

						// Private Tables
						<md-grid-tile class="yellow" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
							<form layout="row" layout-align="center center" ng-submit="switch(10000)" style="width:100%;height:100%;padding:0px;margin:0px;">
								<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Private</md-button>
							</form>
						</md-grid-tile>
					
					</md-grid-list>
					
					<!-- <form layout="row" layout-align="center center" ng-submit="play2()" style="width:100%;height:100%;padding:0px;margin:0px;">
						<md-button class="md-raised md-primary" type="submit" style="width:50%;height:100%;margin-right:2px;">Play for Fun</md-button>
						<md-button class="md-raised md-warn" type="submit" style="width:50%;height:100%;margin-left:2px;">Play for Real</md-button>
					</form> -->
				  
				</md-content>
			  
			</div>
			
		</div>
		
	</div>
				
				
				
				

     