	
	<div class="middle" ng-cloak style="background:white;padding:10px">
	
		<!-- <h3>Game/Strategy Selection with Angular Material Grid List (dark theme)</h3> -->
		
		<!-- <div>
			<md-content>
				<md-grid-list md-cols="1" md-row-height="80px" md-gutter="8px" md-gutter-gt-sm="8px">
					<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<div style="font-size:2em;font-weight:700">Dashboard</div>
					</md-grid-tile>
				</md-grid-list>
			</md-content>
		</div> -->
		
		<div style="min-width:400px;float:left;padding-right:10px">
			<md-content style="border:1px solid gray">
				<md-grid-list md-cols="1" md-row-height="536px" md-gutter="8px" md-gutter-gt-sm="8px">
					<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
		
						<div layout="column" ng-cloak style="width:100%;height:100%;border:1px solid md-primary">
						
							<md-toolbar class="md-primary">
								<div class="md-toolbar-tools">
								  <h2 class="md-flex">Dashboard Control</h2>
								</div>
							</md-toolbar>

							<md-content flex layout-padding>
								<p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>
								<p>Facete delenit argumentum cum at. Pro rebum nostrum contentiones ad. Mel exerci tritani maiorum at, mea te audire phaedrum, mel et nibh aliquam. Malis causae equidem vel eu. Noster melius vis ea, duis alterum oporteat ea sea. Per cu vide munere fierent.</p>
							</md-content>
							
						</div>
						
					</md-grid-tile>
				</md-grid-list>
			</md-content>
		</div>
		
		<!-- <div style="min-width:400px;float:left;padding-right:10px">
			<md-content style="border:1px solid gray">
				<md-grid-list md-cols="1" md-row-height="536px" md-gutter="8px" md-gutter-gt-sm="8px">
					<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
												
							<md-content style="width:100%;height:100%;border:1px solid #568720">
								<md-grid-tile-header style="height:10%;border-bottom:1px solid #568720">
									<h3>Dashboard Control</h3>
								</md-grid-tile-header>
							</md-content>
	
					</md-grid-tile>
				</md-grid-list>
			</md-content>
		</div> -->
		
		<!-- <div style="min-width:5px;float:right;">
			<md-content>
				<md-grid-list md-cols="1" md-row-height="536px" md-gutter="8px" md-gutter-gt-sm="8px">
					<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						
					</md-grid-tile>
				</md-grid-list>
			</md-content>
		</div> -->
		
		<div ng-cloak>
			<md-content md-theme="docs-dark">
				
				<!-- <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="5" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px"> -->
				<md-grid-list md-cols="5" md-row-height="60px" md-gutter="8px" md-gutter-gt-sm="8px">
			  
					<!-- Corner -->
					<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<h3>LUDO</h3>
					</md-grid-tile>
					
					<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<form layout="row" layout-align="center center" ng-submit="switch(5)" style="width:100%;height:100%;padding:0px;margin:0px;">
							<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 1</md-button>
						</form>
					</md-grid-tile>
					<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<form layout="row" layout-align="center center" ng-submit="switch(5)" style="width:100%;height:100%;padding:0px;margin:0px;">
							<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 2</md-button>
						</form>
					</md-grid-tile>
					<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<form layout="row" layout-align="center center" ng-submit="switch(5)" style="width:100%;height:100%;padding:0px;margin:0px;">
							<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 2</md-button>
						</form>
					</md-grid-tile>
					<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<form layout="row" layout-align="center center" ng-submit="switch(5)" style="width:100%;height:100%;padding:0px;margin:0px;">
							<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Strategy Option 2</md-button>
						</form>
					</md-grid-tile>
					
					<!-- Mini LUDO -->
					<md-grid-tile class="red" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<form layout="row" layout-align="center center" ng-submit="switch(5)" style="width:100%;height:100%;padding:0px;margin:0px;">
							<md-button class="md-raised md-warn" type="submit" style="width:100%;height:100%;margin:0px;">Mini Ludo 5RS</md-button>
						</form>
					</md-grid-tile>
					
					<!-- Tables -->
					<md-grid-tile class="blue" md-rowspan="7" md-colspan="4" md-colspan-sm="1" md-colspan-xs="1" style="padding:0;">
						<!-- <md-content style="width:100%;height:100%;"> -->
						
							<!-- <md-grid-tile-header>
								<h3>Running Tables</h3>
							</md-grid-tile-header> -->
							
						<md-content style="width:100%;height:100%;">
							<div style="y-overflow:auto">
							<table class="table" style="text-align:center;">
								<thead>
									<th>Table</th>
									<th>Amount</th>
									<th>Players</th>
									<th>Actor</th>
									<th>Spectator</th>
								</thead>
								<tbody>
									<tr ng-repeat="t in tables">
										<td>{{t.no}}</td>
										<td>{{t.amount}}</td>
										<td>{{t.players}}</td>
										<!-- <td><button class="btn btn-danger">join</button></td> -->
										<td>
										<form ng-submit="play2()">
											<md-button class="md-raised md-warn" type="submit">join</md-button>
										</form>
										
										</td>
										<!-- <td>{{t.action}}</td> -->
										<td>
										<form ng-submit="play2()">
											<md-button class="md-raised md-primary" style="margin-left:0px;" type="submit">watch</md-button>
										</form>
										</td>
									</tr>
								</tbody>
							</table>
							</div>
						</md-content>
						
					</md-grid-tile>
					
					<!-- Mini LUDO -->
					<md-grid-tile class="red" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<form layout="row" layout-align="center center" ng-submit="switch(10)" style="width:100%;height:100%;padding:0px;margin:0px;">
							<md-button class="md-raised md-warn" type="submit" style="width:100%;height:100%;margin:0px;">Mini Ludo 10RS</md-button>
						</form>
					</md-grid-tile>
					
					<!-- Full Game -->
					<md-grid-tile class="blue" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<form layout="row" layout-align="center center" ng-submit="switch(20)" style="width:100%;height:100%;padding:0px;margin:0px;">
							<md-button class="md-raised md-primary" type="submit" style="width:100%;height:100%;margin:0px;">Full Game 20RS</md-button>
						</form>
					</md-grid-tile>
					<md-grid-tile class="blue" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<form layout="row" layout-align="center center" ng-submit="switch(100)" style="width:100%;height:100%;padding:0px;margin:0px;">
							<md-button class="md-raised md-primary" type="submit" style="width:100%;height:100%;margin:0px;">Full Game 100RS</md-button>
						</form>
					</md-grid-tile>
					<!-- Home Run -->
					<md-grid-tile class="green" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<form layout="row" layout-align="center center" ng-submit="switch(500)" style="width:100%;height:100%;padding:0px;margin:0px;">
							<md-button class="md-raised green" type="submit" style="width:100%;height:100%;margin:0px;">Home Run 500RS</md-button>
						</form>
					</md-grid-tile>
					<md-grid-tile class="green" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<form layout="row" layout-align="center center" ng-submit="switch(1000)" style="width:100%;height:100%;padding:0px;margin:0px;">
							<md-button class="md-raised green" type="submit" style="width:100%;height:100%;margin:0px;">Home Run 1000RS</md-button>
						</form>
					</md-grid-tile>
					<!-- Private -->
					<md-grid-tile class="yellow" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<form layout="row" layout-align="center center" ng-submit="switch(10000)" style="width:100%;height:100%;padding:0px;margin:0px;">
							<md-button class="md-raised md-accent" type="submit" style="width:100%;height:100%;margin:0px;">Private</md-button>
						</form>
					</md-grid-tile>
				
				</md-grid-list>
				
				<!-- <form layout="row" layout-align="center center" ng-submit="play2()" style="width:100%;height:100%;padding:0px;margin:0px;">
					<md-button class="md-raised md-primary" type="submit" style="width:50%;height:100%;margin-right:2px;">Play for Fun</md-button>
					<md-button class="md-raised md-warn" type="submit" style="width:50%;height:100%;margin-left:2px;">Play for Real</md-button>
				</form> -->
			  
			</md-content>
			
		</div>
		
		<!-- <div>
			<md-content>
				<md-grid-list md-cols="1" md-row-height="60px" md-gutter="8px" md-gutter-gt-sm="8px">
					<md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<h3></h3>
					</md-grid-tile>
				</md-grid-list>
			</md-content>
		</div> -->

	</div>
				
				
				
				

     