
	<div class="login">
		<div class="modal-header">
			<h3 class="modal-title" id="modal-title">{{page}}</h3>
			<p>Notes: Google login is not fully authorized (click button to see details) . Facebook login is not implemented.</p>
		</div>
		<div class="modal-body" id="modal-body">
			<form ng-submit="LoginModalCtrl.submit(email, password)">
				<input type="text" ng-model="email" />
				<input type="password" ng-model="password" />
				<button class="btn btn-primary" type="submit" >theludo Login</button>
			</form>
		</div>
		<!-- <div class="modal-header">
			<h3 class="modal-title" id="modal-title">Google Login</h3>
		</div> -->
		<div class="modal-body" id="modal-body">
			<!-- <h3 class="modal-title" id="modal-title">Google Login</h3> -->
			<form ng-submit="LoginModalCtrl.google()">
				<button class="btn btn-danger" type="submit">Google Login</button>
			</form>
		</div>
		<!-- <div class="modal-header">
			<h3 class="modal-title" id="modal-title">Facebook Login</h3>
		</div> -->
		<div class="modal-body" id="modal-body">
			<!-- <h3 class="modal-title" id="modal-title">Facebook Login</h3> -->
			<form ng-submit="LoginModalCtrl.facebook()">
				<button id="" class="btn btn-primary" type="submit" >Facebook Login</button>
			</form>
			
		</div>
		
		<div class="modal-footer">
			<!-- <button class="btn btn-warning" type="button" ng-click="LoginModalCtrl.cancel()">Cancel</button> -->
		</div>
	</div>
