@font-face {
	font-family: 'inconsolata';
	src: url('../files/inconsolata.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../files/Helvetica Neue.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* MAIN */
body {
	font-family: 'fontawesome','inconsolata','Helvetica Neue';
	
}
main, body, html .perspective {
	width: 100%;
	height: 100%;
	font-size: 140%; 	
	padding: 0; 
	margin: 0;
	background:#eee;
}
/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.nav {
	position: absolute;
	width:100%;
	height:100px;
	background:rgba(0,0,0,0.5);
	color:white;
	font-size:2em;
	padding:30px;
}
.nav span.right {
	float: right;
	font-size:0.8em;
}
.nav span.right a {
	/*height:30px;*/
	width: 100px;
	border-radius:5px;
	padding:2px;
	font-size:1em;
}
.nav span.right div form {
	font-size:0.8em;
}
.column {
	width: 33%;
	float: left;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
	text-align: center;
	background:lightblue;
}
.column:nth-child(2) {
	width: 33%;
	box-shadow: -1px 0 0 rgba(216,0,39,1);
	background:goldenrod;
}
.column:nth-child(3) {
	width: 34%;
	box-shadow: -1px 0 0 rgba(216,0,39,1);
	background:violet;
}
.column h3 { 
	text-align: center;
	letter-spacing: 0.22em;
	font-weight: 700;
	font-size:1.5em;
}
.column p { 
	letter-spacing: 0.10em;
	font-weight: 300;
	font-size:0.9em;
}
.text2 svg {
	fill: #408000;
	/*fill: rgba(216,0,39,1);*/
}
.text3 .dice1 {
  fill: #c00;
}
.text3 .dice2 {
  fill: #0c0;
}
.text3 .dice3 {
  fill: #00c;
}
.text3 .dice4 {
  fill: #c0c;
}
.text3 .dice5 {
  fill: #cc0;
}
.text3 .fabric {
  fill: #c00;
}
.text3 .shaft {
  fill: #0080ff;
}
input {
	height:30px;
	width: 100px;
	border-radius:5px;
	padding:2px;
}
button {
	height:30px;
	min-width: 100px;
	border-radius:5px;
	padding:2px;
}
.column a { 
	text-decoration: none;
	font-weight: 500;
	color: rgba(216,0,39,1);
}
.column a:hover {
	transition:0.4s;
	font-weight: 700;
}
.middle {
	position:relative;
	top:100px;
	padding:0px;
	width:100%;
	background:black;
	color:black;
	font-size:1em;
}
.home {
	position:relative;
	top:100px;
	padding:0px;
	width:100%;
	background:black;
	color:black;
	font-size:1em;
	min-height:453px;
	text-align:center;
	background-image: url("../images/high-res-dice.jpg") ;
	background-repeat: no-repeat;
	background-position: center;
}
.login {
	position:relative;
	top:0px;
	padding:25px;
	width:100%;
	background:#eee;
	color:black;
	font-size:1em;
}
.viewport {
	position:relative;
	top:100px;
	padding:25px;
	width:100%;
	background:#eee;
	color:black;
	font-size:1em;
}
.footer {
	position:relative;
	top:100px;
	padding:50px;
	width:100%;
	height:400px;
	background:black;
	color:white;
}
.footer-header {
	font-size:2em;
}
th { text-align:center;}
td { text-align:center;}
/* WIDGET STYLE */
.widget {
	color: #3b5998;
	background-color: #dfe3ee;
	background-color: #ffffff;
	border:0px solid black;
	border-radius: 0px;
	text-align:justify;
	padding: 20px;
	/*width: 100%;*/
}
.widget-relative {
	position: relative;
	text-align:center;
}
.widget-fixed {
	position: fixed;
	/*top:50px;*/
	right:0;
	z-index:1;
}
.widget-center {
	position: relative;
	margin:50px 50px auto;
	z-index:1;
	text-align:justify;
	border-radius: 10px;
	padding: 20px;
}
.widget a {
	position: relative;
	background-color: #3b5998;
	color: #dfe3ee;
	border-radius:5px;
	text-align:center;
	text-decoration:none;
	margin:0px;
	padding:7px;
	padding-top:0px;
	padding-bottom:3px;
}
.widget a:hover {
	background-color: rgba(216,0,39,1);
	color: #ffffff;
}
.widget h1 {
	font-weight: 700;
	font-size: 1.5em;
	text-transform:uppercase;
	margin-bottom:5px;
	padding:0;
	/*letter-spacing: 0.22em;*/
}
.widget h2 {
	font-weight: 700;
	font-size: 1.2em;
	text-transform:uppercase;
	margin-bottom:5px;
	padding:0;
	/*letter-spacing: 0.22em;*/
}
.widget p {
	font-size: 1em;
	margin: 0;
	font-weight: 300;
}


/* PERSPECTIVE STYLE */
.perspective {
	background: #aaa;
	background: #fff;
	position: relative;
}
.container-persp {
	background: #fff;
	min-height: 100%;
	position: relative;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
	-webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
	transform: translateZ(0) translateX(0) rotateY(0deg);
}
.container-persp::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: rgba(0,0,0,0.2);;
	/* the transition delay of the height needs to be synced with the container-persp transition time */
	-webkit-transition: opacity 0.4s, height 0s 0.4s;
	transition: opacity 0.4s, height 0s 0.4s;
}
.wrapper {
	position: relative;
}
/* Modal view */
.perspective.modalview {
	position: fixed;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}
.modalview .container-persp {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.modalview .wrapper {
	-webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}
.animate .container-persp::after {
	opacity: 1;
	height: 101%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.animate2 .container-persp::after {
	opacity: 1;
	height: 101%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* OUTER NAV */
.outer-nav {
	position: absolute;
	height: auto;
	width: 35%;
	font-size: 1em;
	color: rgba(216,0,39,1);
}
.outer-nav.vertical {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height:100%;
	overflow-x: auto;
	overflow-y: auto;
}
.outer-nav.horizontal {
	left: 50%;
	width: 75%;
	max-width: 1000px;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.outer-nav.left {
	left: 10%;
	left: 0%;
}
.outer-nav.right {
	right:10%;
}
.outer-nav.top {
	top: 10%;
}
.outer-nav.bottom {
	bottom: 10%;
}
/*
.outer-nav a {
	display: inline-block;
	white-space: nowrap;
	font-weight: 300;
	margin: 0 0 0px 0;
	color: #fff;
	color: rgba(216,0,39,1);
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
*/
.outer-nav div {
	/*display: inline-block;
	white-space: nowrap;*/
	font-weight: 300;
	margin: 20px;
	color: #fff;
	color: rgba(216,0,39,1);
	background: rgba(255,255,255,1);
}


/* FUN NAV */
.fun-nav {
	position: absolute;
	height: auto;
	width: 35%;
	font-size: 1em;
	color: rgba(216,0,39,1);
}
.fun-nav.vertical {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height:100%;
	overflow-x: auto;
	overflow-y: auto;
}
.fun-nav.horizontal {
	left: 50%;
	width: 75%;
	max-width: 1000px;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.fun-nav.left {
	left: 10%;
	left: 0%;
}
.fun-nav.right {
	right:10%;
}
.fun-nav.top {
	top: 10%;
}
.fun-nav.bottom {
	bottom: 10%;
}
/*
.fun-nav a {
	display: inline-block;
	white-space: nowrap;
	font-weight: 300;
	margin: 0 0 0px 0;
	color: #fff;
	color: rgba(216,0,39,1);
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
*/
.fun-nav div {
	/*display: inline-block;
	white-space: nowrap;*/
	font-weight: 300;
	margin: 20px;
	color: #fff;
	color: rgba(216,0,39,1);
	background: rgba(255,255,255,1);
}

/* PERSPECTIVE EFFECT STYLE */	
.effect {
	/*background: #b8b6b4;*/
	/*background: rgba(216,0,39,1);
	*/
	background: #fff;
}
.effect .container-persp {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 0% 50%;
}
.effect.animate .container-persp {
	-webkit-transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
	transform: translateZ(-1000px) translateX(25%) rotateY(-45deg);
	transform: translateZ(0px) translateX(35%) rotateY(-45deg);
	/*transform: translateZ(0px) translateX(25%);*/
}
.effect.animate2 .container-persp {
	-webkit-transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
	transform: translateZ(-1000px) translateX(25%) rotateY(-45deg);
	transform: translateZ(0px) translateX(35%) rotateY(-45deg);
	/*transform: translateZ(0px) translateX(25%);*/
}
.no-csstransforms3d .effect.animate .container-persp {
	left: 75%;
}
.effect .outer-nav {
	opacity: 0;
	height:0%;
	-webkit-transform: translateX(-150px);
	transform: translateX(-150px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}
.effect.animate .outer-nav {
	opacity: 1;
	height:100%;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.effect .fun-nav {
	opacity: 0;
	height:0%;
	-webkit-transform: translateX(-150px);
	transform: translateX(-150px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}
.effect.animate2 .fun-nav {
	opacity: 1;
	height:100%;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}


/* PERSPECTIVE FX Move Left STYLE */	
.effect-moveleft {
	background: #f4f3f1;
}

.effect-moveleft .container-persp {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 100% 50%;
}

.effect-moveleft .container-persp::after {
	background: rgba(255,255,255,0.6);
}

.effect-moveleft.animate2 .container-persp {
	-webkit-transform: translateX(-50%) rotateY(45deg) translateZ(-50px);
	transform: translateX(-50%) rotateY(45deg) translateZ(-50px);
	transform: translateX(-35%) rotateY(45deg);
}

.no-csstransforms3d .effect-moveleft.animate2 .container-persp {
	left: -75%;
}

.effect-moveleft .outer-nav {
	opacity: 0;
	-webkit-transform: translateX(-150px);
	transform: translateX(-150px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.effect-moveleft.animate2 .outer-nav {
	opacity: 1;
	right:0;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transform: translateX( 200% );
}

.effect-moveleft .outer-nav a {
	color: #e86a32;
	opacity: 0;
	-webkit-transform: translateX(100px) translateZ(-1000px);
	transform: translateX(100px) translateZ(-1000px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.effect-moveleft .outer-nav a:hover {
	color: #333;
}

.effect-moveleft.animate2 .outer-nav a {
	opacity: 1;
	-webkit-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.effect-moveleft.animate2 .outer-nav a:nth-child(2) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.effect-moveleft.animate2 .outer-nav a:nth-child(3) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.effect-moveleft.animate2 .outer-nav a:nth-child(4) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.effect-moveleft.animate2 .outer-nav a:nth-child(5) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.effect-moveleft.animate2 .outer-nav a:nth-child(6) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.effect-moveleft.animate2 .outer-nav a:nth-child(7) {
	-webkit-transition-delay: 0.24s;
	transition-delay: 0.24s;
}