<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
	<title>3D Ludo</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="Ludo, 3D board game, play, play for fun, play for money">
	<meta name="description" content="The 3D Ludo game for casual and serious players.">
	
	<!-- <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"> -->
	
	<!-- ONLINE -->
	<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.4.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	
	<link href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css" rel="stylesheet">
	
	<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script> -->
	
	<!-- OFFLINE -->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/angular-resource.min.js"></script>
	<script src="js/angular-ui-router.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/angular-sanitize.min.js"></script>
	<script src="js/ui-bootstrap-tpls.js"></script>
	<script src="js/angular-material.js"></script>
	<script src="js/angular-messages.min.js"></script>
	<script src="js/angular-aria.min.js"></script>
	<script src="js/svg-assets-cache.js"></script>
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/angular-material.css" rel="stylesheet">
	
	<script src="app.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<!-- THREE.JS -->
	<script type="text/javascript" src="threejs/three.js"></script>
	<script type="text/javascript" src="threejs/stats.js"></script>
	<script type="text/javascript" src="threejs/physi.js"></script>
	<script type="text/javascript" src="threejs/Detector.js"></script>
	<script type="text/javascript" src="threejs/game2.js"></script>
	<script type="text/javascript" src="threejs/TrackballControls.js"></script>
	
	<!-- BOOTSTRAP JS -->
	<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  -->
	
	<!-- GOOGLE API -->
	<script src="https://apis.google.com/js/api.js"></script>
	<script src="https://apis.google.com/js/client.js"></script>
	<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
	<!-- ONLINE -->
	<!-- <script>
		function appendResults(text) {
			var results = document.getElementById('results');
			results.appendChild(document.createElement('P'));
			results.appendChild(document.createTextNode(text));
		}

		function makeRequest() {
			var request = gapi.client.urlshortener.url.get({
				'shortUrl': 'http://goo.gl/fbsS'
			});
			request.then(function(response) {
				appendResults(response.result.longUrl);
			}, function(reason) {
			console.log('Error: ' + reason.result.error.message);
			});
		}

		function init() {
			gapi.client.setApiKey('AIzaSyCS6E__FsG206GJUh6wWgP6oz0QVCWBpCU');
			gapi.client.load('urlshortener', 'v1').then(makeRequest);
		}

		gapi.load('client', init);
	</script> -->
	
	<!-- GOOGLE API AUTHORIZED ACCESS -->
<!-- 	<script>
		var apiKey = 'AIzaSyCS6E__FsG206GJUh6wWgP6oz0QVCWBpCU';
		var clientId = '898129103079-df2a6vsnvtfvsv3l41vdjkipvvd60aoo.apps.googleusercontent.com';
		var scopes = 'profile';

      // Get authorization from the user to access profile info
      function initAuth() {
		console.log('initAuth');
        gapi.client.setApiKey(apiKey);
        gapi.auth2.init({
            client_id: clientId,
            scope: scopes
        });
        var signinButton = document.getElementById('google-button');
        signinButton.addEventListener("click", auth);
      }

      function auth() {
        gapi.auth2.getAuthInstance().signIn().then(function() {
          makeApiCall();
        });
      }

      gapi.load('client:auth2', initAuth);
    </script> -->

</head>
  
<body ng-app="app" ng-controller="ApplicationController">

  	<div class="nav">
		the ludo
		<span class="right">
			<!-- <div class="ng-cloak" ng-hide="auth.isLoggedIn()">  
			  Hi stranger!
			</div>
			<div class="ng-cloak" ng-show="auth.isLoggedIn()">
				Hi {{ session.getFullName() }}
			</div> -->
			<!-- <div ng-if="currentUser">
				<form ng-submit="logout()">
					Welcome. Logged in as {{currentUser}} <button class="btn btn-warning" type="submit" id="submit">Logout</button>
				</form>
			</div>
			<div ng-if="!currentUser"> -->
			<div>
				<md-button class="md-raised md-primary" type="submit" ng-click="login()" style="margin:0px;">Login</md-button>
				<md-button class="md-raised md-warn" type="submit" ng-click="register()" style="margin:0px;">Sign Up</md-button>
				<md-button class="md-raised md-accent" type="submit" ng-click="userProfileDashboard()" style="margin:0px;">User Profile</md-button>
				<md-button class="md-raised md-warn" type="submit" ng-click="gameDashboard()" style="margin:0px;">Game Dashboard</md-button>
				<md-button class="md-raised md-warn" type="submit" ng-click="gameView()" style="margin:0px;">Game View</md-button>
			</div>
		</span>
	</div>

	<!-- <div ng-show="false" id="results"></div> -->
	
	<div ui-view="viewHome" ></div>
	<div ui-view="viewDash" ></div>
	<div ui-view="viewUserProfileDashboard"></div>
	<!-- <div ui-view="dashgridlist" ></div> -->
	<div ui-view="viewGameDashboard" ></div>
	<div ui-view="viewGame" style="overflow:hidden"></div>
	
	<div class="footer">
		<div class="footer-header">Footer</div>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<p>pellentesque</p>
				<p>ornare</p>
				<p>sem</p>
				<p>lacinia</p>
				<p>quam</p>
				<p>venenatis</p>
				<p>vestibulum</p>
			</div>
			<div class="col-sm-6 col-md-4">
				<p>sed</p>
				<p>posuere</p>
				<p>consectetur</p>
				<p>est</p>
				<p>at</p>
				<p>lobortis</p>
			</div>
			<div class="col-sm-6 col-md-4">   
				<p>aenean</p>
				<p>eu</p>
				<p>leo</p>
				<p>quam</p>
			</div>
		</div>
	</div>
	
  </body>
</html>
